<!-- recoder用にbootsrapベースで改変した -->
{% extends "recoder/base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="card m-5">
    <div class="card border-bg-transparent">
        <div class="card-body">

            <h2 class="card-title">ログイン</h2>
            <section>
                <form method="post" action="{{ url_for('auth.login') }}">
                    {% for message in get_flashed_messages() %}
                    <span class="dt-auth-flash">{{ message }}</span>
                    {% endfor %}
                    {{ form.csrf_token }}
                    {{ form.email(class="form-control dt-auth-input",placeholder="メールアドレス") }}
                    {{ form.password(class="form-control dt-auth-input",placeholder="パスワード") }}
                    {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}